# Database
DATABASE_URL="postgresql://username:password@host:port/database"

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Email Configuration
EMAIL_FROM_NO_REPLY="no-reply@sterlingmutuals.com"
EMAIL_TO_INTERNAL="complaints@sterlingmutuals.com"
APP_BASE_URL="https://your-vercel-domain.vercel.app"
